.container {
  margin: 0 auto;
  max-width: 600px;
  display: grid;
  height: 100vh;
  place-items: center;
}
.grid-element {
  width: 100%;
}
.content {
  margin: auto;
  border-radius: 10%;
  width: 100%;
}
.result-detail {
  background: #6340fb;
  color: #fefefe;
  text-align: center;
  border-radius: 10%;
}
.summary {
  background: #fffcfa;
  border-radius: 10%;
}
.result {
  background: #452ddb;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
}
.score {
  margin: auto;
}
.result-value {
  font-size: 36px;
  font-weight: bold;
}
.of-hundred {
  color: #7060f8;
  font-weight: 400;
}
.summary-detail {
  font-weight: 600;
  opacity: 0.8;
}
.reaction-summary {
  background: #fff7f5;
}
.memory-summary {
  background: #fffcf1;
}
.verbal-summary {
  background: #faf9fe;
}
.visual-summary {
  background: #f3f3ff;
}
.reaction-text {
  color: #f25257;
}
.memory-text {
  color: #edcc49;
}
.verbal-text {
  color: #35ba99;
}
.visual-text {
  color: #445ac9;
}
.summary-of-hundred {
  color: #b7b2b4;
}
.continue-btn {
  color: #fefefe;
  background: #303c58;
  border-radius: 25px;
  font-weight: bold;
}
@media (max-width: 576px) {
  .container {
    padding: 0;
    height: fit-content;
  }
  .result-detail {
    width: 100%;
    border-radius: 0% 0% 10% 10%;
  }
  .content {
    border-radius: 0%;
  }
}
